*{
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  padding: 0;
  margin: 0;
}

.navigation,
.header,
.footer{
  background-color: #1F2937;
  color: #F9FAF8;
}

a{
  color: #F9FAF8;
  text-decoration: none;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
}

.container-main{
  display:flex;
  flex-direction: column;
}
.header{
  font-size: 48px;
  font-weight: 900;
  display: flex;
}

.header-info{
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.header-subtext{
  font-size: 24px;
  text-align: left;
  font-weight: 100;
  margin: 1em 0;
}

#web-img{
  padding-right: 2em;
  width: 10em;
}

.subtext{
  font-size: 18px;
  color: #1F2937;
  text-align: center;
  padding: 1em 0;
}

.button{
  background-color: #3882F6;
  color: #F9FAF8;
  box-sizing: border-box;
  font-size: 18px;
  width: 150px;
  height: auto;
  border: 1px solid #F9FAF8;
  padding: 0.75em 1.5em;
  border-radius: 1em;
}

.item-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 8em;
}

.item-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.item-header h2{
  color:#1F2937;
  font-size: 36px;
  font-weight: 900;
  padding: 18px 0;
}

.quote-main{
  background-color:#E5E7EB;
}

.quote{
color: #1F2937;
font-style: italic;
font-size: 36px;
font-weight: 300;
padding: 2em 4em 1em 4em;
}

.author{
  text-align: end;
  font-weight: bold;
  padding: 1em;
  margin-right: 8em;
}

.sign-main{
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 2em 6em;
  margin: 4em 6em;
}

.footer{
  display: flex;
  padding: 2em 0;
  justify-content: center;
}

