*{
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  padding: 6px;
  margin: 0;
}

.navigation,
.header,
.footer{
  background-color: #1F2937;
  color: #F9FAF8;
}

a{
  color: #F9FAF8;
  text-decoration: none;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.container-main{
  display:flex;
  flex-direction: column;
}
.header{
  font-size: 48px;
  font-weight: 900;
  display: flex;
  flex:1;
}

.header-info{
  display: flex;
  flex-direction: column;
}

.subtext{
  font-size: 18px;
  color: #E5E7EB;
}

.button{
  background-color: #3882F6;
}

.item-main{
  display: flex;
  flex-direction: column;
}

.item-content{
  display: flex;
  flex-direction: row;
}

.item-header h2{
  color:#1F2937;
  font-size: 36px;
  font-weight: 900;
}

.quote-main{
  background-color:#E5E7EB;
}

.quote{
color: #1F2937;
font-style: italic;
font-size: 36px;
font-weight: 300;
}

.sign-main{
  display: flex;
}


